__pycache__/*.pyc
*.hdf5
learning/*.ipynb
lib/QuantumGate_v1.py
lib/__pycache__/*.pyc
Quantum_Gates_Example_v1.ipynb
lib/QuantumState.py
lib/Operator.py
lib/FermionicOperator_v1.py
lib/PauliString_v1.py
